<?xml version="1.0" encoding="UTF-8"?>

<configuration status="error">
    <properties>
        <property name="pattern">%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %class{36} %M - %msg%xEx%n</property>
        <property name="fileSize">10M</property>
        <property name="maxFileCount">50</property>
        <property name="outputLogLevel">info</property>
        <property name="logPath">logPath</property>
    </properties>

    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <RollingFile name="all" fileName="${logPath}/all.log"
                     filePattern="logs/$${date:yyyy-MM}/all-%d{MM-dd-yyyy}-%i.log.zip">
            <PatternLayout pattern="${pattern}"/>
            <SizeBasedTriggeringPolicy size="50M"/>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>

    </appenders>

    <loggers>
        <Logger name="all" level="info" additivity="true">
            <AppenderRef ref="all"/>
        </Logger>
        <Root level="${outputLogLevel}">
            <AppenderRef ref="console"/>
            <AppenderRef ref="all"/>
        </Root>
    </loggers>
</configuration>